{% if page.comments != false %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_config = function () {
    this.page.url = '{{ site.url }}{{ page.url }}';
    this.page.identifier = '{{ page.url }}';
  };

  (function () {
    var d = document, s = d.createElement('script');
    s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
    s.async = true; // Ensures the page never freezes
    s.setAttribute('data-timestamp', +new Date()); // Ensures data is fresh
    (d.head || d.body).appendChild(s);
  })();
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
    Disqus.</a></noscript>

<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
{% endif %}

<!-- site.url and site.disqus_shortname are defined in _config.yml -->