<a href="{{ site.baseurl }}/" style="display: block; margin-bottom: 12px;">
  <img src="{{ site.baseurl }}/assets/images/logo/Gemini_logoQF.png"
    style="width: 100%; display: block; border-radius: 6px; transition: transform 0.2s;"
    onmouseover="this.style.transform='scale(1.01)'" onmouseout="this.style.transform='scale(1)'">
</a>


<a href="{{ site.baseurl }}/buymeacoffee" style="display: block; margin-bottom: 12px;">
  <img src="{{ site.baseurl }}/assets/images/logo/Gemini_logoDonate.png"
    style="width: 100%; display: block; border-radius: 6px; transition: transform 0.2s;"
    onmouseover="this.style.transform='scale(1.01)'" onmouseout="this.style.transform='scale(1)'">
</a>


{% if page.category %}
<nav>
  <div class="header">Latest by category</div>
  <ul>
    {% for category in site.categories %}
    {% if category[0] == page.category %}
    {% for post in category[1] offset:0 limit:5 %}
    <li><a style="text-align: left; color: #074B80;" href="{{ post.url }}">{{ post.title2 }}</a></li>
    {% endfor %}
    {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}


<nav>
  <div class="header">Latest</div>
  {% for post in site.posts limit:200 %}
  <li><a style="text-align: left; color: #074B80" href="{{ post.url }}">{{ post.title2 }}</a></li>
  {% endfor %}
  </ul>
</nav>