{% if page.sc_project %}
<div id="statcounter">
    <script type="text/javascript">
        if (!localStorage.dontTrack) {
            document.write('<span style="color: #000;">Total visits: </span>');
            document.write('<span style="color: #204081;">');
            
            var sc_project = {{ page.sc_project }};
            var sc_invisible = 0;
            var sc_security = "{{ page.sc_security }}";
            var sc_text = 2;
            
            document.write('<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js"></scr' + 'ipt>');
            document.write('</span>');
        } else {
            document.write('<span style="color: #999;">Tracking disabled (Owner)</span>');
        }
    </script>
</div>
{% endif %}