<nav class="navbar navbar-inverse" style="background-color: #112240">
  <div class="container-fluid" style="background-color: #112240">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span style="color: #fff">Quantitative Finance cơ bản</span></a>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
      <ul class="nav navbar-nav" style="background-color: #112240">
        <li><a href="/about/"><span style="color: #fff">About</span></a></li>
        <!--<li><a href="/index/"><span style="color: #fff">Index</span></a></li>-->
        <li><a href="/tags/"><span style="color: #fff">Tags</span></a></li>
        <li><a href="/categories/"><span style="color: #fff">Categories</span></a></li>
        <li><a href="/archive/"><span style="color: #fff">Archive</span></a></li>
        <li><a href="/math/"><span style="color: #fff">Maths</span></a></li>
        <li><a href="/copyrights/"><span style="color: #fff">Copyrights</span></a></li>
        <li><a href="/search/"><span style="color: #fff">Search</span></a></li>
      </ul>
    </div>
  </div>
</nav>