---
layout: default
---


<div class="post">

  <header class="post-header">
    <p style="font-size: 35px; font-weight: 300; color: #3C5B9B">{{ page.title }}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!-- disqus comments -->
  {% if page.comments %}
  {% include disqus_comments.html %}
  {% endif %}

</div>


<!-- mathematical rendering mathjax -->
{% if page.mathjax %}
<!-- <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endif %}